
  
  <div class="container">
    <aside class="sidebar">
      <h2>Fund Wise</h2>
      <nav>
        <a routerLink="/loan-application"><button class="active">Loan Application</button></a>
        <a routerLink="/customers"><button>Customers</button></a>
      </nav>
    </aside>
  
    <main class="form-container">
      <div class="header">
        <h1>Construction Loan Application</h1>
        
      </div>
  
      <div class="upload-box">
        <input type="file" (change)="onFileSelected($event)" />
        <button type="submit" (click)="uploadFile()">Upload</button>
      
        <div class="status">{{ uploadStatus }}</div>
      </div>
    </main>
  </div>
  